<div class="footer">
  <ul class="pull-left">
    <li><a href="/" class="button_txt" id="home">Home</a></li>
    <li><a href="/info" class="button_txt" id="info">Information</a></li>
  </ul>
  <ul class="pull-right">
    <li><a href="https://twitter.com/aki_qiushi" target="_blank" class="button_img" id="twitter"></a></li>
  </ul>
</div>
