<%= favicon_link_tag 'favicon.ico' %>
<div id="fox" ></div>

Abc default | <span style="font-size:20px">Abc 20px</span>
<br><br><br><br>FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX

<div class="footer">
  <a href='https://twitter.com/aki_qiushi' target="_blank" id="twitter"></a>
</div>
