Abc default | <span style="font-size:20px">Abc 20px</span>

<%= image_tag("fox.png", :id=>"fox") %>
<div class="footer">
  <a href='https://twitter.com/aki_qiushi'>
    <%= image_tag("twitter.png", :id=>"twitter") %>
  </a>
</div>
