Abc default<br>
<span style="font-size:20px">Abc 20px</span><br>
<span style="font-size:1em">Abc 1em</span><br>

<%= image_tag("fox.png", :id=>"fox") %>
<div class="footer">
  <a href='https://twitter.com/aki_qiushi'>
    <%= image_tag("twitter.png", :id=>"twitter") %>
  </a>
</div>
