<font size="14">Font14</font>

<%= image_tag("fox.png", :id=>"fox") %>
<div class="footer">
  <a href='https://twitter.com/aki_qiushi'>
    <%= image_tag("twitter.png", :id=>"twitter") %>
  </a>
</div>
