<h1>Profiles#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p>

<%= image_tag("fox.png", :id=>"fox") %>
<div class="footer">
  <a href='https://twitter.com/aki_qiushi'>
    <%= image_tag("twitter.png", :id=>"twitter") %>
  </a>
</div>
