<%= favicon_link_tag('fox_favicon.png',
                      { :rel => 'apple-touch-icon',
                        :sizes => '180x180',
                        :type => 'image/png'}) %>
<div id="fox" ></div>

Abc default | <span style="font-size:20px">Abc 20px</span>
<br><br><br><br>FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX FOX

<div class="footer">
  <a href='https://twitter.com/aki_qiushi' target="_blank" id="twitter"></a>
</div>
