
<div class="text_box">
  <p>

    <a href="https://medium.com/@qiushi">
      Medium</a>
      <br />
      <br />

    <a href="http://qiita.com/Qiuqiu">
      Qiita</a>
      <br />
      <br />
    <a href="https://www.youtube.com/channel/UCtm-zxZlLbZZ_MlToSphDTA">
      YouTube</a>
      <br />
      <br />
    <a href="https://www.twitch.tv/qiuqiu_">
      Twitch</a>

  </p>
</div>
