<h1>Profiles#info</h1>
<p>Find me in app/views/profiles/info.html.erb</p>
<p>
  <a href="">Medium</a>
</p>
<p>
  <a href="">Qiita</a>
</p>

<p>
  <a href="">YouTube</a>
</p>
<p>
  <a href="">Twitch</a>
</p>
