<br><br><br><br>
<p>
  <a href="https://medium.com/@qiushi">
    Medium</a>
</p>
<p>
  <a href="http://qiita.com/Qiuqiu">
    Qiita</a>
</p>

<p>
  <a href="https://www.youtube.com/channel/UCtm-zxZlLbZZ_MlToSphDTA">
    YouTube</a>
</p>
<p>
  <a href="https://www.twitch.tv/qiuqiu_">
    Twitch</a>
</p>
