<div class="text_box">
  <h1 id="vainglory-links">Vainglory Links</h1>
  <h2 id="-">公式</h2>
  <p><a href="http://www.vainglorygame.com">Vainglory – The MOBA Perfected for Touch</a><br><a href="http://www.superevilmegacorp.com">SuperEvilMegacorp</a><br><a href="https://vainglory.g.boom-app.com">Vainglory Now</a><br><a href="http://forums.vainglorygame.com/index.php">Vainglory Community Forums</a><br><a href="https://twitter.com/VaingloryJP">Vainglory Japan(@VaingloryJP)さん | Twitter</a><br><a href="https://twitter.com/vainglory">Vainglory(@vainglory)さん | Twitter</a>  </p>
  <h2 id="-">情報</h2>
  <p><a href="http://seesaawiki.jp/vainglorywiki/">#vainglory wiki</a><br><a href="http://brokenmyth.net">Broken Myth</a><br><a href="http://www.vaingloryfire.com">VaingloryFire Wiki</a><br><a href="https://www.reddit.com/r/vainglorygame/">Vainglory Reddit</a>  </p>
  <h2 id="-">動画・配信</h2>
  <p><a href="https://www.openrec.tv/game/m2ZfBODU2m4">OPENREC.tv (オープンレック)</a><br><a href="https://www.twitch.tv/directory/game/Vainglory">Twitch</a><br><a href="https://www.youtube.com/user/vainglorygame">YouTube</a><br><a href="https://www.mobcrush.com/game/Vainglory">Mobcruch</a>  </p>
  <h2 id="-">大会</h2>
  <p><a href="http://gamersleague.asia/top?title=Vainglory">GAMERS LEAGUE - ゲーム大会プラットフォーム</a><br><a href="http://www.vaingloryleague.com">Vaingloryleague | The Premier Competitive Vainglory Organization</a>  </p>
  <h2 id="-web-">戦績Webアプリなど</h2>
  <p>国産
  <a href="https://vainame.com">vainame</a><br>VGU 過去1ヶ月のランク試合を分析
  <a href="http://vgu.herokuapp.com/index.html">VGU - Vainglory University</a><br><a href="https://mastervainglory.com">mastervainglory</a>  </p>
  <h2 id="-">その他ツール</h2>
  <p><a href="http://vainglorybuild.com/?items=&amp;hero=&amp;abilities=">Vainglory Build</a>  </p>
  <h2 id="pro-">Proチーム</h2>
  <p><a href="http://cloud9.gg/vainglory/">Cloud9</a><br><a href="http://www.mousesports.com/game/vainglory">mousesports</a><br><a href="http://team-detonation.net/vainglory/">DetonatioN Gaming</a>
  <a href="http://hammersesports.com/en/games/vainglory/">Hammers Esports</a>  </p>
  <h2 id="-">個人ブログ</h2>
  <p><a href="http://www.adventar.org/calendars/1539">Vainglory Advent Calendar 2016 - Adventar</a><br><a href="http://marukid.com/?cat=6">vainglory | marukid.com</a><br>＊オススメ<a href="http://vainglory.pchw.io/entry/2016/02/29/013330">CSって何！？初心者でも分かるVainglory略語会話 - pchwGL#Vainglory</a><a href="http://vainglory.pchw.io/">pchwGL#Vainglory</a><br><a href="http://ie.u-ryukyu.ac.jp/~e145729/index.html">初心者に優しいvainglory</a><br><a href="http://vainglory-noitan.blogspot.jp">のいたんのベイングローリー攻略</a><br>＊継続更新中<a href="http://for-vainglorious.com">For be a Vainglorious ：ベイングローリー攻略初心者情報</a>  </p>
  <h2 id="support">Support</h2>
  <p><a href="https://superevil.zendesk.com/hc/ja">Super Evil Support</a>  </p>
  <hr>
  <p>網羅しきれていないもの、追加して欲しいものがあれば教えてください。</p>

</div>
