//変数
$col_main: #222;
$col_highlight: #bbb;
$font_basic: 20px;
$footer_height: 5rem;

html{
  font-size: $font_basic;
}
body{
  background-color: $col_main;
  color: $col_highlight;
}
img {
  pointer-events: none; //右クリック禁止して画像コピーできなくする
}
img#fox { //#でidを指定
  max-width: 60%;
  max-height: 70%;

  //上下左右中央にする
  position: absolute;
  top: 0;
  bottom: $footer_height;
  left: 0;
  right: 0;
  margin: auto; //左右中央にする | http://stackoverflow.com/questions/7055393/center-image-using-text-align-center
  //display: block; //これがないとmargin指定できないぽい？
}
.footer {
  width: 100%;
  height: $footer_height;
  background: black; //? background-color?
  left: 0;
  bottom: 0;
  position: absolute;
  display: inline-block; //?
}
img#twitter {
  float: right;
  height: ($footer_height * 1 / 2);
  width: auto;
  margin: ($footer_height * 1 / 4);
}
@media screen and (max-width: 750px) {
  body{color: orange;}
}
