// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main:orange;
$highlight:orange;
$black-base:black;
$black-light:#333333;

body {
  background-color: $black-light;
}
.fox {
  max-height: 500px;
}
