/* 変数 */
$col_main: #cccccc;
$col_highlight: #f2b43b;
$col_background: #292929;
$col_dark: #191919;
$font_basic: 125%;
$footer_height: 4rem;


html {
  font-family:  //assets/fontsに入れていないので、端末依存かな。
                avenir next,
                avenir,
                //scaffoldを丸パクリ。
                verdana,
                arial,
                helvetica,
                sans-serif;
  //font-size: $font_basic;
  font-size: calc(100% + 0.5vmax);
  -webkit-text-size-adjust: 100%;

  background-color: $col_background;
  color: $col_main;

  /* for iPhone. */
  @media (max-width: 1126px) {
    //font-size: calc(2 * $font_basic);
    font-size: calc(150% + 1vmax);
    color: blue;
  }
}
body {
  /*
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  */
}
img {}
div#fox {
  width: 80%;
  height: 70%;
  background-image: url("fox.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  //上下左右中央にする
  position: absolute; //absolute <-> fixed
  top: 0;
  bottom: $footer_height;
  left: 0;
  right: 0;
  margin: auto; //左右中央にする | http://stackoverflow.com/questions/7055393/center-image-using-text-align-center

  //pointer-events: none; //右クリック禁止して画像コピーできなくする
  z-index: -1; //下層へ。
}
///*
.text_box{
  width: 80%;
  height: 70%;
  position: absolute; //absolute(スクロール可能) <-> fixed(スクロール不可)
  top: 0;
  bottom: $footer_height;
  left: 0;
  right: 0;
  margin: auto;
  display: table;
}
.text_box > div{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
//*/

/*
.text_box{
  display: flex;
}
.text_box p{
  display: flex;
}
*/
.footer {
  width: 100%;
  height: $footer_height;
  //Safari,ChromeにはWebkitで、Firefoxにはmoz、それ以外にはグラデーションなしを表示する
  background: rgba($col_dark,0.8); //? background-color?
  background: -moz-linear-gradient(top,
                                    rgba($col_dark,0.85),
                                    rgba($col_dark - #080808,0.95));
  background: -webkit-gradient(linear,left top,left bottom,
                                    from(rgba($col_dark,0.85)),
                                    to(rgba($col_dark - #080808,0.95)));
  left: 0;
  bottom: 0;
  position: fixed; //absoluteだと読み込み時の画面にしたがって完全固定だが、fixedならスクロールに対応する
}
.footer ul {
  line-height: $footer_height;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.footer ul.pull-left {
  float: left !important;
  margin-left: 1rem;
}
.footer ul.pull-right {
  float: right !important;
  margin-right: 1rem;
}
.footer a.button_img {
  display: flex; //これがないと<a>ではちゃんと表示されない。inline-blockでもうまくいった。
  background-size: contain;
  height: ($footer_height * 1 / 2);
  width: ($footer_height * 1 / 2);
  margin: ($footer_height * 1 / 4);
  cursor: pointer;
}
a#twitter {
  background-image: url("twitter_w.png");
}
a#twitter:hover,a#twitter:active {
  background-image: url("twitter.png");
}
.footer a.button_txt {
  margin-left: 1.5rem;
}
/* 文字 */
a {
  text-decoration: none; //リンク文字列のアンダーラインなし
  color: $col_main;
}
a:hover,a:active {
  color: $col_highlight;
}
