// ********************
// ***   variables  ***
// ********************
// +-------------------------+
// |     color variables     |
// +-------------------------+
$col_main: #cccccc;
$col_bright: #ffffff;
$col_colored: #f2b43b;
$col_background: #292929;
$col_dark: #191919;
// +------------------------+
// |     size variables     |
// +------------------------+
$font_basic: 120%;
$font_large: 150%;
$font_ll: 180%;
$footer_height: 4rem;
$header_height: 4rem;
$maple_size: $header_height * 0.9;

// *****************
// ***   fonts   ***
// *****************
/*
@font-face {
  font-family: 'Brandon-R';
  // src: font-url('Brandon_reg.otf');
  src:url('Brandon_reg.otf');
  src: url('fonts/Brandon_reg.otf') format('opentype');
}
@font-face {
  font-family: 'HiraginoSans-R';
  src: url('fonts/HiraginoSans-W4.ttc') format('truetype');
}
 */
@font-face {
    // BrandonGrotesque: https://typekit.com/fonts/brandon-grotesque
    font-family: 'brandon_grotesque_regularRg';
    src:url('brandon_reg-webfont.woff2') format('woff2');
    src:url('brandon_reg-webfont.ttf') format('truetype'),
        url('brandon_reg-webfont.eot'),
        url('brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('brandon_reg-webfont.woff') format('woff'),
        url('brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    // src: url('brandon_reg-webfont.eot');
    // src: url('brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
    //      url('brandon_reg-webfont.woff2') format('woff2'),
    //      url('brandon_reg-webfont.woff') format('woff'),
    //      url('brandon_reg-webfont.ttf') format('truetype'),
    //      url('brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body, p {
  font-family:
    HiraginoSans-W4; //Regular
    // verdana, arial, helvetica, sans-serif; //If fails, use default fonts.
  color: inherit;
}
b {
  font-family:
    HiraginoSans-W6; //Bold
    // verdana, arial, helvetica, sans-serif;
  color: inherit;
}
h1 {
  font-family: HiraginoSans-W6;
  font-size: $font_ll;
  color: inherit;
}
h2, h3, h4, h5, h6 {
  font-family: HiraginoSans-W6;
  font-size: $font_large;
  color: inherit;
}
.eng-font, dd {
  font-family:
    'brandon_grotesque_regularRg', // BrandonGrotesque-Regular,
    AvenirNext-Regular,verdana;
  font-size: $font_large;
}
// ******************
// ***   letter   ***
// ******************
a {
  text-decoration: none; //リンク文字列のアンダーラインなし
  color: $col_main;
}
a:hover,a:active {
  color: $col_bright;
}

// *******************
// ***   general   ***
// *******************
html {
  // Always Mobile first.
  font-size: $font_basic;
  // font-size: calc(100% + 1vmax);
  -webkit-text-size-adjust: 100%;

  background-color: $col_background;
  color: $col_main;

  // // for Desktop
  // @media (min-width: 768px) {
  //   // font-size: calc(100% + 0.5vmax);
  //   font-size: $font_basic;
  // }
}
body {
  padding: 0;
  margin: 0;
  background-color: inherit; //これを指定しないと上に引っ張った時に白い背景が見える。
}
div#fox {
  width: 5rem;
  height: 10rem;
  background-image: url("fox.png");
  background-size: contain; //入りきるように
  background-repeat: no-repeat; //繰り返さない
  background-position: center;
  margin: auto; //左右中央にする
  //pointer-events: none; //右クリック禁止して画像コピーできなくする
  z-index: -1; //下層へ。
}

.text_box{
  position: absolute; //absolute(スクロール可能) <-> fixed(スクロール不可)
  top: $header_height;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
.text_box > div{
  // display: table-cell;
  // vertical-align: middle;
  // top: 10rem;
  text-align: center;
}

// ******************
// ***   HEADER   ***
// ******************
.header{
  position: fixed;
  margin: 0;
  height: $header_height;
  width: 100%;
  z-index: 1;
}
#mplAcMenu{
  float: right;
  margin: 0;
  margin-right: 0.5rem;
}
/* slideToggle */
#mplAcMenu dt{
  display:block;
  margin-left: auto;
  width:$maple_size;
  height:$maple_size/2;
  cursor:pointer;
}
#mplAcMenu dd{
  color: $col_main;
  width:10rem;
  height:1.5rem;
  // line-height:20rem;
  text-align:right;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  margin-left: auto;
  padding-right: 1.1rem;
  display:none; // Hide until slideToggled.
  // margin: 0;
}
div#mplUpper {
  width: $maple_size;
  height: $maple_size;
  margin-bottom: -$maple_size/2;
  background-image: url("Maple_Upper.png");
  background-size: $maple_size;//入りきるように
  background-repeat: no-repeat; //繰り返さない
  background-position: top;

  z-index: -1; //下層へ。
}
div#mplLower {
  width: $maple_size;
  height: $maple_size;
  margin-top: -$maple_size/2;
  background-image: url("Maple_Lower.png");
  background-size: $maple_size;//入りきるように
  background-repeat: no-repeat; //繰り返さない
  background-position: top;

  z-index: -1; //下層へ。
}
