<div class="header">
  <!-- make this stay on the top. then let dlMaple go to right hand. -->
  <script>
  $(function(){
    $("#mplAcMenu dt").on("click", function() {
      // $(this).next().slideToggle(85);
      $('#mplAcMenu dd').slideToggle('fast');
    });
  });
  </script>
  <dl id="mplAcMenu">
    <dt><div id="mplUpper"></dt>
    <dd><%= link_to 'About', 'profiles' %></dd>
    <dd><%= link_to 'Vainglory', 'vainglory_links' %></dd>
    <dt><div id="mplLower"></dt>
  </dl>
</div>
